<div class="course-list">
  <h3>Available First Aid Courses</h3>
  <table class="table table-striped table-bordered table-hover align-middle">
    <thead class="table-dark">
    <tr>
      <th scope="col">Course Title</th>
      <th scope="col">Course Code</th>
      <th scope="col">Length (hrs)</th>
      <th scope="col">Days</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Activity First Aid</td>
      <td>AFA</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Basic Life Support</td>
      <td>BLS</td>
      <td>3</td>
      <td>1/2</td>
    </tr>
    <tr>
      <td>BLS & Safe Use of an AED</td>
      <td>BLS+</td>
      <td>4</td>
      <td>1/2</td>
    </tr>
    <tr>
      <td>Catastrophic Bleeding Control</td>
      <td>CBC</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Emergency First Aid at Work</td>
      <td>E-FAW</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>First Aid at Work Re-qualification</td>
      <td>FAW-RQ</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <td>First Aid at Work</td>
      <td>FAW</td>
      <td>18</td>
      <td>3</td>
    </tr>
    <tr>
      <td>First Aid for Mental Health</td>
      <td>FAMH</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>First Aid for Mental Health Awareness</td>
      <td>FAMHA</td>
      <td>4</td>
      <td>1/2</td>
    </tr>
    <tr>
      <td>Outdoor Emergency First Aid</td>
      <td>E-OFA</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Outdoor First Aid</td>
      <td>OFA</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Paediatric Emergency First Aid</td>
      <td>E-PFA</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Paediatric First Aid</td>
      <td>PFA</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Student First Aid</td>
      <td>SFA</td>
      <td>3</td>
      <td>1/2</td>
    </tr>
    <tr>
      <td>Mini Medics First Aid</td>
      <td>MMFA</td>
      <td>3</td>
      <td>1/2</td>
    </tr>
    </tbody>
  </table>
</div>