<div class="row">
  <div class="col-md-12 description">
    <h3>Paediatric First Aid</h3>
    <p>
      Be ready when it matters most. This hands-on course gives you the confidence and skills to respond to medical emergencies involving
      babies and children, we'll cover everything from minor injuries to life-saving CPR. Led by certified instructors, it’s ideal for
      parents, carers, teachers, and anyone working with children.
    </p>
    <p>
      You’ll learn to spot warning signs, stay calm under pressure, and act quickly when every second counts.
    </p>
    <p class="strong">
      Book now. Protect the little ones with practical, trusted training.
    </p>
  </div>
</div>
