<section class="container-fluid page-intro">
    <div>
        <p>These terms and conditions are designed to ensure safety, clarity, and fairness to all parties, and to
            ensure
            your experience from initial enquiry till your return home after your adventure is the very best we can
            provide.</p>
        <p>Please take the time to read this fully and understand the terms and conditions before attending, Failure to
            do
            so may result in your booking being cancelled </p>
    </div>
    <div>
        <h2>Contents</h2>
        <ol>
            <li><a href="#bookings">Booking & Payments System</a></li>
            <li><a href="#availability">Availability</a></li>
            <li><a href="#cancellations">Cancellations</a></li>
            <li><a href="#insurance">Insurance</a></li>
            <li><a href="#liability">Liability</a></li>
            <li><a href="#health">Health and Safety</a></li>
            <li><a href="#restrictions">Age, Size and Health Restrictions</a></li>
            <li><a href="#drugs">Smoking, Alcohol & Drugs Policy</a></li>
            <li><a href="#forms">Booking Forms, Medical Declaration, Group Details & Parental Consent Forms</a></li>
            <li><a href="#equipment">Hire of equipment</a></li>
            <li><a href="#feedback">Service and feedback</a></li>
            <li><a href="#photos">Photographs, Marketing & Social Media</a></li>
            <li><a href="#gdpr">GDPR</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ol>

    </div>
    <div id="bookings">
        <h3>Booking & Payments System</h3>
        <p>To book email info@savage-adventures.com or Bookings@savage-adventures.com or call 07895834955 within
            standard operating hours 9-5 mon-sat. Deposit or full payment is required to confirm your course or
            activity. We reserve the right to refuse a booking, or to make changes to advertised prices, until the point
            of confirmation of your adventure. If this occurs, we will notify you and if you are not satisfied with the
            changes all monies paid will be returned. Full payment is due 6 weeks prior to commencement of your
            adventure. Bookings made within 6 weeks of your start date will require full payment upon booking. The price
            of your course can be varied due to government action, such as charges in VAT or any other
            government-imposed changes/currency changes. Payments can be made by BACS, Credit/Debit Card or Cash.</p>
        <ol>
            <li>Vouchers from Savage Adventures or Partners (inc Redletter day, Smartbox, Buy a gift, Virgin Experience
                Days, etc) can be redeemed instead of Credit/cash equal to the value of the activity. Vouchers are
                subject to terms and conditions, Vouchers may be full or partial payment of the activity so additional
                monies may be required. Vouchers can not be exchanged for cash or credit and are only valid to the
                voucher date of the issuer.
            </li>
            <li>Vouchers cannot be refunded if failure to attend or cancellation within 48 hours of activity date.</li>
            <li>Any bookings made through a 3rd party are completely liable for any booking concerns (payment,
                availability, refunds etc)
            </li>
        </ol>
    </div>
    <div id="availability">
        <h3>Availability</h3>
        <p>Availability is limited. We can not guarantee you availability and is based on a first come first serve
            basis, your booking is secure once the deposit has been made. Natural causes such as tide, rainfall, season,
            etc may not allow the activity to run in this case a more appropriate proposed date will be suggested.
            Activities may have a max limit due to access agreements of land owners. Once all available dates have been
            filled no more bookings will be made. </p>
    </div>
    <div id="cancellations">
        <h3>Cancellations</h3>
        <h4>Changes by you</h4>
        <p>Should for any reason you change details of your booking after we have confirmed, an admin fee of £30 may be
            charged (if the change reduces the overall cost). If the change increases the value of the package i.e.
            further payment is due, then the admin fee will be waived. Should you wish to cancel the event or make a
            significant change which greatly reduces the package you have booked (i.e. Cancel group places or specific
            elements of your package) the following cancellation schedule will be used to ascertain any outstanding
            fees.</p>
        <h5>Cancellation Schedules</h5>
        <ul>
            <li>More than 10 weeks prior to the start date – Full Refund</li>

            <li>Between 2 & 10 weeks prior to the start date – Deposit will be retained</li>

            <li>Within 3 days of start date or during the event – Full payment will retained</li>
        </ul>
        <h4>Changes by us</h4>
        <ol>
            <li>Should we make changes to your adventure, or cancel your adventure due to Savage Adventures’s inability
                to provide resources or staff, or when cancellation by others on your course makes continuation unviable
                or impractical, we will inform you as soon as possible with suggested alternatives. Should these not be
                satisfactory or suitable for you, we will refund all monies within 14 days.
            </li>
            <li>We will always strive to provide you with the activity/venue/itinerary stated on your booking
                form/confirmation, however the very nature of the outdoor environment means that the weather and other
                unforeseen circumstances can often mean that this is not possible. Examples of possible hindrance may be
                no water/snow, too much water/snow/wind, landslides, road/river blockage etc. Any changes we are forced
                to make due to these or similar circumstances will be to ensure your safety and provide you with a high
                quality outdoor experience. We will inform you as soon as we have made an assessment that such a change
                is necessary, and we will arrange alternative activities/venues/itineraries for your day/event/course
                that will be suitable for the whole group. Refunds are not provided in such circumstances.
            </li>
            <li>Clients generally meet us at venues or use our partnered transport service. In the event of a venue
                change you will need to arrange to meet us at the alternative venue at your cost.
            </li>
            <li>If, due to Force Majeure we are unable to fulfil our contract with you, you will not be due compensation
                or a refund. This relates to extremely unusual or unforeseeable circumstances beyond our control which
                generally affect us all. These can include, for example, war, riot, industrial dispute, terrorist
                activity and its consequences, natural or nuclear disaster, fire, or extreme weather conditions which
                make normal operations impossible to continue or dangerous. Events like these should be covered by your
                insurance or deemed to be an acceptable loss under the circumstances.
            </li>
            <li>Activities have a minimum number of 4 participants required for the activity to run, should this number
                not be met activity may be cancelled with refund, or be rebooked on an alternative date that has the
                required number of participants.
            </li>
            <li>Cancellation due to covid if a participant test positive within the duration of there activity</li>
        </ol>
    </div>
    <div id="insurance">
        <h3>Insurance</h3>
        <p>Although we have full public liability insurance, you should arrange adequate personal insurance cover for
            activities, holidays and courses. You should note that many travel insurance policies exclude cover for
            certain sporting activities, so you should carefully check the terms of any proposed insurance policy to
            ensure that it meets your requirements.</p>
    </div>
    <div id="liablity">
        <h3>Liability</h3>
        <p>In the absence of any negligence or other breach of duty by us or our employees and agents, you will be
            responsible for any loss, theft, injury or damage to your own vehicles, their contents, fittings or
            accessories. In the event of a breach of this contract by Savage Adventures, we shall not be liable for any
            loss, damage cost or expense arising out of the breach which was not reasonably foreseeable at the date the
            contract is made, except in respect of death or personal injury resulting from any act or omission on the
            part of Savage Adventures. Savage Adventures will only be liable for loss or damage caused by the proven
            negligence or default of the company or its employees in performing their obligations under this
            agreement.</p>
    </div>
    <div id="health">
        <h3>Health and Safety</h3>
        <p>It is your responsibility when booking to ensure that you and all members of your group are fit enough to
            cope with the activity and the environment associated with your booking. All participants must inform us
            prior to the event of any medical condition/illness/disability (including any medication which may affect
            their performance) so we can discuss your needs and make appropriate adjustments. All participants must
            inform their instructor immediately if they feel unwell during the activity. Participants must adhere to the
            instructions, guidance and decisions of our instructors as they have specialist knowledge and skills and are
            committed to keeping you safe. Alcohol or illicit drug use is not permitted prior to or during activities.
            All participants must show respect to equipment, vehicles, buildings, other participants, neighbours, staff
            and centre rules. Abuse, causing distress to others, or causing loss/damage whether intentionally or due to
            negligence will result in participants being charged for repair or full replacement costs. This may also
            lead to exclusion from activities/accommodation/courses without refund.</p>
    </div>
    <div id="restrictions">
        <h3>Age, Size and Health Restrictions</h3>
        <p>For safety reasons, some activities have certain size, weight, age and health restrictions. You are required
            to notify Savage Adventures of any relevant medical condition that may be of concern. Our admins can advise
            of any restrictions at the time of purchase and/or booking. Savage Adventures aims to accommodate as best as
            possible however can only operate within the safety guidelines of the equipment set out by the manufacturer
            guidelines, if we deem the user will be out of the guidelines on completing the medical disclaimer they will
            be contacted and refunded fully or suggested a different activity.</p>

        <p>We may contact you after completing consent to ask for ‘Dr’s sign off’ for any injury or ailment that may be
            of concern to the activity.</p>

        <p>Failure to include any injury/ ailment or incorrect sizes in the Pre-activity consent form may result in your
            activity being cancelled on the day without refund.</p>
    </div>
    <div id="drugs">
        <h3>Smoking, Alcohol & Drugs Policy></h3>
        <p>Savage Adventures requires all participants to attend not under the influence of alcohol/ or drugs, any
            participants suspected of being intoxicated or under the influence of any drugs will be removed/ refused
            from the activity without refund. No smoke or vape is tolerated while wearing our equipment, or in vehicles
            or buildings associated with Savage Adventures. Failure to comply with this requirement will result in
            cleaning fees being charged.</p>
    </div>
    <div id="forms">
        <h3>Booking Forms, Medical Declaration, Group Details & Parental Consent Forms</h3>
        <p>The person booking must ensure that all participants (and for those under 18 years of age – parents and
            guardians) have received copies of these booking conditions and all activity information and safety points
            prior to the event. Medical Declaration & Consent Forms,link to medical consent form will be on the welcome
            letter and must be completed and returned before the commencement date for the chosen activity. Failure to
            complete and return these forms on time will result in participants being excluded from activity without
            refund.</p>
    </div>
    <div id="equipment">
        <h3>Hire of equipment</h3>
        <p>When hiring any Savage Adventures equipment for your personal use e.g. bikes, SUP’s, canoes, kayaks etc. you
            are making a personal judgement that you have the necessary skills and experience to use this equipment
            safely in the environment, venue, grade of river, trails, etc. that you choose to use it. Savage Adventures
            is not liable for any personal injury or incident that may occur due to your choices whilst the hire
            equipment is with you. You are also liable for any damage, loss or theft of the equipment while it is hired
            in your keeping.</p>
    </div>
    <div id="feedback">
        <h3>Service and feedback</h3>
        <p>We want you to enjoy your experience in the outdoors to its fullest, if you are dissatisfied with any aspect
            of the service provided by Savage Adventures please inform us as soon as possible and we will take
            appropriate action.</p>
    </div>
    <div id="photos">
        <h3>Photographs, Marketing & Social Media</h3>
        <p>Photographs and videos may be taken by Savage Adventures staff during your activity for marketing purposes. A
            selection of these will be uploaded to our social media sites for you to review and may be used for other
            marketing purposes and publications. It is our policy to protect the anonymity of our clients, we therefore
            don’t identify any group or person by tagging, however we will allow participants to tag themselves on our
            posts. If any participants do not wish to appear in photographs or videos they should inform a member of
            staff at the beginning of the adventure.</p>
    </div>
    <div id="gdpr">
        <h3>GDPR</h3>
        <p>In agreements with the new General Data Protection Regulation, we agree that all data received will not be
            shared with any third party or external companies. All data received will be stored electronically and
            encrypted for a 5 year period and destroyed appropriately after this time has expired.</p>

        <p>Any forms filled out before/ during/ after by instructors i.e accident forms will be digitally submitted when
            back to safely store for a 5 year period for record keeping usage only. We are legally obliged to retain any
            incident and medical forms from all participants under the age of 18 till participant reaches age of 21 to
            which we will then destroy appropriately after this time has expired. If you wish to receive any information
            about future events or activities then please tick 'I wish to receive newsletters', if you choose you do not
            want to receive then email address will solely be used to confirm bookings and or activity specific
            information and to send any footage/pictures. If you wish to be removed from this list email us at
            Info@savage-adventures.com</p>

        <ul>
            By agreeing to this you accept that:

            <li>Savage Adventures will safely store all personal data given for 5 years (Date of activity).</li>

            <li>Savage Adventures will not share any data with any 3rd party or external companies.</li>

            <li>Savage Adventures will only retain specific data from participants under the age of 18.</li>

            <li>Savage Adventures will only use the email for booking, activity specific information and to share
                pictures
                after activity.</li>

            <li>Savage Adventures won't tag you in any pictures. (however feel free to tag friends and family)</li>

            <li>Savage Adventures may use photos for social media and other marketing.</li>
        </ul>
    </div>
    <div id="contact">
        <h3>Contact</h3>

        <p>Should you have any concerns agreeing to these terms and conditions please contact us via email at
            info@savage-adventures.com or call on 07895834955</p>
    </div>
</section>