
<section class="container-fluid page-intro">
    <h4 class="text-center">Sometimes a team needs that extra push to truly gel together.</h4>

    <p>At Savage Adventures we offer a range of activities focused on bringing any team closer.</p>

    <p>Whether we come to you or you come to us we guarantee a unique team building experience, tailored to fit whatever criteria you require.</p>

    <p>Our group of trained instructors are experts at creating an environment where teamwork, communication, time management and group development can thrive.</p>

    <p>Team building event can be run at a workplace or at an arranged location to suit the aims and objectives.</p>

    <p>For more information please <a href="#bookNowModal" class="" data-toggle="modal" data-target="#bookNowModal">Contact Us</a></p>
</section>