<section class="container-fluid page-content">
  <div class="row mx-auto" id="contact-form-row">
    <div class="col">
      <form id="contact-page-form"
            class="gform"
            method="POST"

            action="{{ site.bookwild.enquiry_endpoint }}">
        {% include contact/contact-form-fields.html form_id="contact-page" %}
        <div style="display:none" class="thankyou_message">
          <h2><em>Thanks</em> for contacting us! We will get back to you soon!
          </h2>
        </div>
      </form>
    </div>
  </div>
</section>
