<section class="container-fluid page-content">
  <div class="row mx-auto" id="contact-form-row">
    <div class="col">
      <form id="contact-us-form"
            class="gform"
            method="POST"
            data-sheet="fromJuly2025"
            action="https://script.google.com/macros/s/AKfycbynLJlTN7wCjPYO6xJ0siNR6Fa6aG0y065VfJcfn__oFseJ-OIjAeSZcGc8R0pvP0c6/exec">
        <!--data-email="bookings@savage-adventures.com"-->
        {% include contact-form-fields.html %}
        <div style="display:none" class="thankyou_message">
          <!-- You can customize the thankyou message by editing the code below -->
          <h2><em>Thanks</em> for contacting us! We will get back to you soon!
          </h2>
        </div>
      </form>
    </div>
  </div>
</section>
