<section class="container-fluid page-content">
  <div class="row">
    <div class="col">
      <div class="btn-container">
        <a class="book-now-button btn btn-orange"
           href="{{ site.bookwild.activities_url }}"
           target="_blank" rel="noopener noreferrer">
          Book Now!
        </a>
      </div>
      <h2 class="rust-heading">Available Courses</h2>
      {% include training/first-aid/paediatric.html %}
      {% include training/first-aid/at-work.html %}
      {% include training/first-aid/outdoor.html %}
      {% include training/first-aid/list.html %}
      <div class="btn-container">
        <a class="book-now-button btn btn-orange"
           href="{{ site.bookwild.activities_url }}"
           target="_blank" rel="noopener noreferrer">
          Book Now!
        </a>
      </div>
    </div>
  </div>
</section>
