<section class="container-fluid page-intro">
    <div class="row text-center">
        <div class="col">
            <button type="button" class="book-now-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookNowModal">
                Book Your Course Now!
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>We offer a range of training at Savage Adventures, from first aid, to technical skills to water safety.</p>
            <h3>
                More info coming very soon, or if you have any questions just
                <a href="#moreInfoModal" class="" data-bs-toggle="modal" data-bs-target="#moreInfoModal">get in touch.</a>
            </h3>
        </div>
    </div>
    <div class="row full-width">
        <img src="../assets/images/canyoning-flip.jpg">
    </div>
</section>
