<section class="container-fluid page-intro">
  <div class="row text-center">
    <div class="col">
      <button type="button" class="book-now-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookNowModal">
        Book Your Course Now!
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-center">Look no further than Savage Adventures!</h3>
      <p>
        Based in South Wales, we provide a range of courses for all levels. Whether you're an adventure seeker or a teacher, from beginner
        to advanced.
      </p>
      <p>
        Our qualified and experienced staff will provide you with the knowledge and skills you need to stay safe and save lives. Our courses
        are designed to give you the confidence to handle any first-aid situation you might encounter. We focus on practical skills and
        scenarios to ensure that you are well-prepared for any eventuality.
      </p>
      <p>
        Whether you're looking for a one-day course or a more in-depth course, we have the perfect option for you. We also offer group
        discounts for groups of four or more. Book your First Aid Training Course with Savage Adventures today.
      </p>
    </div>
  </div>
  {% include main/adventure-slideshow.liquid %}
</section>
