---
layout: default
title: Challenges
permalink: /challenges
tagline: Welsh 3 Peaks Challenge
bodyclass: challenges
description: "Welsh 3 Peaks Challenge - conquer Yr Wyddfa, Cadair Idris and Pen Y Fan with Savage Adventures."
header-images:
- header-01-coasteering.jpg
- header-02-canyoning.jpg
- header-08-surfing.jpg
- header-09-beach-cleans.jpg
- header-15-all-weather.jpg
---
<section class="title text-center">
  <h2 class="rust-heading">Welsh 3 Peaks Challenge</h2>
  <h2>Conquer the Titans of Wales!</h2>
</section>
<section class="container-fluid page-intro">
  {% capture page-intro %}{% include challenges/page-intro.md%}{% endcapture %}
  {{ page-intro | markdownify }}
</section>
{% include challenges/page-content.html.liquid %}
