---
layout: default
title: Educational Groups
permalink: /education
tagline: Focus their energy. Unlock the potential.
bodyclass: education
description: "Outdoor education programmes for schools and youth groups across South Wales."
header-images:
  - header-01-coasteering.jpg
  - header-02-canyoning.jpg
  - header-08-surfing.jpg
  - header-09-beach-cleans.jpg
  - header-15-all-weather.jpg
---
<section class="container-fluid page-intro">
  {% capture page-intro %}{% include education/page-intro.md%}{% endcapture %}
  {{ page-intro | markdownify }}
</section>
{% include education/page-content.html.liquid %}
{% include education/adventures.html.liquid %}
