---
layout: default
title: John Muir Award
tagline: John Muir Award
bodyclass: corporate
header-images:
- header-01-coasteering.png
- header-02-canyoning.png
- header-08-surfing.png
- header-09-beach-cleans.png
- header-14-all-weather.png
---
<section class="title text-center">
  <h1 class="rust-heading">John Muir Award</h1>
</section>
<section class="container-fluid page-intro">
  {% capture page-intro %}{% include john-muir/page-intro.md%}{% endcapture %}
  {{ page-intro | markdownify }}
</section>
{% include john-muir/page-content.html.liquid %}
