---
layout: default
title: John Muir Award
tagline: Connect with nature
bodyclass: john-muir
description: "John Muir Award programmes - discover, explore, conserve and share with Savage Adventures."
header-images:
- header-01-coasteering.jpg
- header-02-canyoning.jpg
- header-08-surfing.jpg
- header-09-beach-cleans.jpg
- header-15-all-weather.jpg
---
<section class="title text-center">
  <h1 class="rust-heading">John Muir Award</h1>
</section>
<section class="container-fluid page-intro">
  {% capture page-intro %}{% include john-muir/page-intro.md%}{% endcapture %}
  {{ page-intro | markdownify }}
</section>
{% include john-muir/page-content.html.liquid %}
