<!--Quick Links-->
<section class="container-fluid quick-links">
  <div class="row justify-content-center">
    <a class="card col adventures" href="/adventures">
      <div class="card-body text-center">
        <i class="fas fa-mountain" aria-hidden="true"></i>
        <h5 class="text-uppercase py-auto">Adventures</h5>
      </div>
    </a>
    <a class="card col gift-cards" href="{{ site.bookwild.gift_cards_url }}" target="_blank" rel="noopener noreferrer">
      <div class="card-body text-center">
        <i class="fas fa-gift" aria-hidden="true"></i>
        <h5 class="text-uppercase">Gift Cards</h5>
      </div>
    </a>
    <a class="card col about-us" href="/about-us">
      <div class="card-body text-center">
        <i class="fas fa-users" aria-hidden="true"></i>
        <h5 class="text-uppercase py-auto">Meet the team</h5>
      </div>
    </a>
    <a class="card col stag-hen" href="/stag-hen">
      <div class="card-body text-center">
        <i class="fas fa-glass-martini-alt" aria-hidden="true"></i>
        <h5 class="text-uppercase">Stag & Hen Dos</h5>
      </div>
    </a>
    <a class="card col corporate" href="/corporate">
      <div class="card-body text-center">
        <i class="fas fa-building" aria-hidden="true"></i>
        <h5 class="text-uppercase">Corporate</h5>
      </div>
    </a>
    <a class="card col training" href="/training">
      <div class="card-body text-center">
        <i class="fas fa-graduation-cap" aria-hidden="true"></i>
        <h5 class="text-uppercase">First Aid</h5>
      </div>
    </a>
    <a class="card col contact-us" href="/contact-us">
      <div class="card-body text-center">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <h5 class="text-uppercase">Get in touch</h5>
      </div>
    </a>
  </div>
</section>
