<!--Quick Links-->
<section class="container-fluid quick-links">
    <div class="row justify-content-center">
        <a class="card col about-us" href="./about-us">
            <div class="card-body text-center">
                <i class="fas fa-users"></i>
                <h5 class="text-uppercase py-auto">Meet the team</h5>
            </div>
        </a>
        <a class="card col corporate" href="./corporate">
            <div class="card-body text-center">
                <i class="fas fa-building"></i>
                <h5 class="text-uppercase">Corporate Team Building</h5>
            </div>
        </a>
        <a class="card col stag-hen" href="./stag-hen">
            <div class="card-body text-center">
                <i class="fas fa-glass-martini-alt"></i>
                <h5 class="text-uppercase">Stag & Hen Dos</h5>
            </div>
        </a>
        <a class="card col training" href="./training">
            <div class="card-body text-center">
                <i class="fas fa-graduation-cap"></i>
                <h5 class="text-uppercase">Training Courses</h5>
            </div>
        </a>
        <a class="card col contact-us" href="./contact-us">
            <div class="card-body text-center">
                <i class="fas fa-envelope"></i>
                <h5 class="text-uppercase">Get in touch</h5>
            </div>
        </a>
    </div>
</section>
