<!--Main Slideshow-->
<!-- To add slides to the slideshow, add a new image to the assets/images/header_images directory -->
{% assign header_images = site.static_files | where: 'header_image', true %}
<div id="mainCarousel" class="carousel slide py-4" data-bs-ride="true" data-interval="5000">
    <ol class="carousel-indicators">
        {% for image in header_images %}
            <li data-target="#mainCarousel" data-bs-target="#mainCarousel" data-bs-slide-to="{{ forloop.index0 }}"
                class="{% if forloop.first == true %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in header_images %}
            <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
                <img class="d-block w-100" src="{{ image.path }}" alt="{{ image.basename }}">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

