<header class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="social-links d-flex align-items-center justify-content-center">
                <a class="social-link social-tripadvisor"
                   href="https://www.tripadvisor.co.uk/Attraction_Review-g186463-d12964875-Reviews-Savage_Adventures-Newport_South_Wales_Wales.html">
                    <i class="fab fa-2x fa-tripadvisor"></i>
                </a>
                <a class="social-link social-facebook" href="https://www.facebook.com/Savage.Adventures">
                    <i class="fab fa-2x fa-facebook"></i>
                </a>
                <a class="social-link social-twitter" href="https://twitter.com/sav_adventures">
                    <i class="fab fa-2x fa-twitter"></i>
                </a>
                <a class="social-link social-instagram" href="https://www.instagram.com/savage.adventures/">
                    <i class="fab fa-2x fa-instagram"></i>
                </a>
                <a class="social-link social-youtube" href="https://www.youtube.com/channel/UC23cqj-gvRmK4-nGjWLRo6w">
                    <i class="fab fa-2x fa-youtube"></i>
                </a>
                <button class="social-link d-flex align-items-center" id="theme-toggle">
                    <i class="fas fa-2x fa-moon dark"></i>
                    <i class="fas fa-2x fa-sun light"></i>
                    <i class="fas fa-2x fa-palette multi"></i>
                    <span id="theme-label"></span>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="site-logo-container d-flex align-items-center justify-content-center">
                <a href="/">
                    <img class="site-logo"
                         src="/assets/images/logo-large.png" alt="Site Logo">
                </a>
            </div>
        </div>
        <div class="col contact-links-col">
            <div class="text-center contact-links">
                <a href="mailto:bookings@savage-adventures.com">
                    <i class="fas fa-envelope"></i>
                    bookings@savage-adventures.com
                </a>
            </div>
        </div>
    </div>

    <!--Tagline and Navbar-->
    <div class="row">
        <div class="col">
            <h1 class="text-center display-heading">
                {{ page.tagline }}
            </h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adventures">Adventures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/corporate">Corporate Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stag-hen">Stag & Hen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/training">Training Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>

            </ul>
        </div>
    </div>
</header>