<section class="container-fluid page-content adventures-summary">
  {% for adventure in site.data.adventures.adventures %}
    {% if adventure.stag-hen %}
      {% capture loop %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if loop == 'odd' %}
        <div class="row">
          {% include adventures/title-row.html.liquid %}
        </div>
        <div class="row">
          {% include adventures/summary-description.html.liquid %}
          {% include adventures/summary-image.html.liquid %}
        </div>
      {% else %}
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            {% include adventures/title-row.html.liquid %}
          </div>
        </div>
        <div class="row">
          {% include adventures/summary-image.html.liquid %}
          {% include adventures/summary-description.html.liquid %}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>
