<div class="row">
    <div class="col-md-7">
        <h1>Bushcraft</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7 page-info">
        <p>Learn to survive like Ray Mears</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="adventures/bushcraft.html">Find out more</a>
    </div>
    <div class="col-md-5"></div>
</div>