<div class="row">
    <div class="col-md-7">
        <h1>Canyoning</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7 page-info">
        <p>Gain a new and unique perspective on the world famous <strong><a href="http://www.breconbeacons.org/waterfall-country">Waterfall Country</a></strong> in the Brecon Beacons, see the rivers from an entirely new angle. Spend an action packed day climbing through waterfalls, exploring behind the curtain and jumping into deep plunge pools. Nature’s own water slides and rapids put waterparks all over the world to shame.</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="canyoning">Find out more</a>
    </div>
    <div class="col-md-5">
        <img src="../assets/images/canyoning-waterfall-group.jpg">
    </div>
</div>