<div class="row">
    <div class="col-md-7">
        <h1>Climbing</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7 page-info">
        <p>Now an olympic sport, climbing is in the spotlight and is rapidly growing in popularity. Climbing is one of the most thrilling, rewarding and unique ways to adventure. Experience the beautiful Welsh national coastline of Pembrokeshire and the Gower Peninsula from a new, vertical, perspective. If you’re new to climbing and want to give it a go or if you’ve climbed before and want to foray into the world of trad, get in touch and we’ll build the day for you.</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="climbing">Find out more</a>

    </div>
    <div class="col-md-5">
        <img src="../assets/images/guide-pete-climbing.jpg">
    </div>
</div>