<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
        <h1>Coasteering</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="../assets/images/coasteering-jump-together.jpg">
    </div>
    <div class="col-md-7 page-info">
        <p>Coasteering is defined as “an activity that encompasses movement along the intertidal zone of a rocky coastline on foot or by swimming, without the aid of boats, surf boards or other craft.” Invented 30 years ago on the Welsh coastline, coasteering has grown into a global adventure sport. Come join us for an unforgettable adventure exploring the natural wonder that first inspired the sport.</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="coasteering">Find out more</a>
    </div>
</div>