<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
        <h1>Mountain Biking</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="../assets/images/mountain-biking-tom-snow.jpg">
    </div>
    <div class="col-md-7 page-info">
        <p>Wales is one of the best destinations for mountain biking in the world, whether you just want to give it a go or have been riding for years and want to find something new we can tailor your adventure to suit. South Wales has an incredible selection of natural trails as well as many world renowned trail centres.</p>
        <p>Lets go ride our bikes! (Note: Bike ownership is not required for having fun!)</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="mountain-biking">Find out more</a>
    </div>
</div>