<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-7">
        <h1>Stand Up Paddle Boarding</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="../assets/images/guide-pete-paddleboard-swim.gif">
    </div>
    <div class="col-md-7 page-info">
        <p>Stand Up Paddle Boarding is one of the fastest growing watersports with thousands more people giving it a go each year. We offer the normal range of SUP activities such as SUP rental, coaching and guided tours for everyone who wants to give this fantastic growing sport a try. But if you came here for adventure, we do take things to the next level with mountain SUP expeditions and SUP Yoga in the pool underneath a picturesque hidden waterfall.</p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="sup">Find out more</a>
    </div>
</div>