<div class="row">
    <div class="col-md-7">
        <h1>Walking</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7 page-info">
        <p>Feeling like you want to keep both feet on the ground, but don’t want to miss out on the spectacular sights and wonders of Wales…?
            Well, fear not, with our walking tours you won’t miss out on any of the action.
            Imagine being stood on the top of some of the best  Mountains in wales and enjoying the picturesque 360° views of the beautiful lakes and forests below.
        </p>
        <button type="button" class="book-now-button btn btn-orange" data-toggle="modal" data-target="#bookNowModal">
            Book Now!
        </button>
        <a class="btn btn-green find-out-more-button" href="walking">Find out more</a>
    </div>
    <div class="col-md-5">
        <img src="../assets/images/walking-mountain-cloud.jpg">
    </div>
</div>