<section class="container-fluid page-intro">
  <div class="row text-center">
    <div class="col">
      <button type="button" class="book-now-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookNowModal">
        Book Your Adventure Now!
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      {{ page.intro | newline_to_br }}
    </div>
  </div>
</section>
